In [1]:
# Q1
import time
import functools

def decor(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        t1 = time.time()
        res = func(*args, **kwargs)
        t2 = time.time()
        print(f'Function {func.__name__} took {t2 - t1:.8f} seconds to finish')
        return res
    return wrapper

def recur_fib_no_memo(n):
    if n == 0 or n == 1: return n
    return recur_fib_no_memo(n - 1) + recur_fib_no_memo(n - 2)

fib_dict = {0:0, 1:1}
def recur_fib_with_memo(n):
    if n in fib_dict: return fib_dict[n]
    fib_dict[n] = recur_fib_with_memo(n - 1) + recur_fib_with_memo(n - 2)
    return fib_dict[n]

def gen_fib():
    first, second = 0, 1
    while (True):
        yield first
        first, second = second, first + second

def gen_func_fib(n):
    gen_obj = gen_fib()
    for i in range(n+1):
        res = next(gen_obj)
    return res

@decor
def call(func, *args, **kwargs):
    return func(*args, **kwargs)

print('Calling Fib Recursion without memorization')
call(recur_fib_no_memo, 35)
print()
print('Calling Fib Recursion with memorization')
call(recur_fib_with_memo, 35)
print()
print('Calling Fib Generator')
call(gen_func_fib, 35)

Calling Fib Recursion without memorization
Function call took 5.12177277 seconds to finish

Calling Fib Recursion with memorization
Function call took 0.00002003 seconds to finish

Calling Fib Generator
Function call took 0.00001001 seconds to finish

9227465

In [2]:
# Q2
import pandas as pd
import sqlite3

def connect_db(db):
    '''
    Create connection object to db
    '''
    connection = None
    try:
        connection = sqlite3.connect(db)
    except:
        print("Conncection failure")
    return connection

def create_table(db, create_table_sql):
    '''
    Q2a Create table in the db
    '''
    connection = connect_db(db)
    try:
        cursor = connection.cursor()
        cursor.execute(create_table_sql)
    except:
        print('Failed to create table')
    connection.close()

def insert_student(db, first, last, age, grade):
    '''
    Q2b insert student
    '''
    connection = connect_db(db)
    add_student_sql = f'''
                       INSERT INTO students (first_name, last_name, age, grade)
                       VALUES ('{first}', '{last}', '{age}', '{grade}')
                      '''
    try:
        cursor = connection.cursor()
        cursor.execute(add_student_sql)
    except:
        print('Failed to add student to the table')
    connection.commit() #need to commit so other connection can see
    connection.close()


def get_all_student(db):
    '''
    Q2c display all student using pandas
    '''
    connection = connect_db(db)
    display(pd.read_sql('''SELECT * FROM students''', connection, index_col = ['student_id']))
    connection.close()

def search_id(db, student_id):
    '''
    Q2d search by id
    '''
    connection = connect_db(db)
    display(pd.read_sql(f'''
                 SELECT * FROM students
                 WHERE student_id = {student_id}
                 ''',
                connection,
                index_col = ['student_id']))
    connection.close()

def update_age(db, student_id, new_age):
    '''
    Q2e update age
    '''
    connection = connect_db(db)
    update_age_sql = f'''
                       UPDATE students SET age = '{new_age}'
                       WHERE student_id = {student_id}
                      '''
    try:
        cursor = connection.cursor()
        cursor.execute(update_age_sql)
    except:
        print('Failed to update age')
    connection.commit() #need to commit so other connection can see
    connection.close()

def delete_student(db, student_id):
    '''
    Q2f delete row
    '''
    connection = connect_db(db)
    delete_student_sql = f'''
                          DELETE FROM students
                          WHERE student_id = {student_id}
                          '''
    try:
        cursor = connection.cursor()
        cursor.execute(delete_student_sql)
    except:
        print('Failed to delete')
    connection.commit() #need to commit so other connection can see
    connection.close()

In [3]:
# 2a
db = 'Q2.db'
create_table(db, create_table_sql = '''CREATE TABLE IF NOT EXISTS students (
                                        student_id integer PRIMARY KEY, 
                                        first_name text,
                                        last_name text,
                                        age text,
                                        grade text
                                        );
                                    ''')

In [4]:
# 2b
insert_student(db, 'John', 'Doe', '18', 'Grade 12')
insert_student(db, 'Johnathan', 'Cole', '16', 'Grade 10')
insert_student(db, 'Jane', 'Smith', '17', 'Grade 11')
insert_student(db, 'Elisabeth', 'Shue', '17', 'Grade 11')
insert_student(db, 'David', 'Lee', '16', 'Grade 10')

# 2c
get_all_student(db)

           first_name last_name age     grade
student_id
1                John       Doe  18  Grade 12
2           Johnathan      Cole  16  Grade 10
3                Jane     Smith  17  Grade 11
4           Elisabeth      Shue  17  Grade 11
5               David       Lee  16  Grade 10

In [7]:
# 2d
search_id(db, 5)

           first_name last_name age     grade
student_id
5               David       Lee  16  Grade 10

In [8]:
#2e
update_age(db, 2, 19)

#2f
delete_student(db, 5)

get_all_student(db)

           first_name last_name age     grade
student_id
1                John       Doe  18  Grade 12
2           Johnathan      Cole  19  Grade 10
3                Jane     Smith  17  Grade 11
4           Elisabeth      Shue  17  Grade 11

In [13]:
# Q3
def str_reverse_gen(input_str):
    for i in range(len(input_str) - 1, -1, -1):
        yield input_str[i]

test = 'Roger Federer: GOAT'
gen_obj = str_reverse_gen(test)

for char in gen_obj:
    print(char, end = '')

TAOG :reredeF regoR

In [80]:
# Q4
class my_stack_1(list):
    '''
    is-a-relationship
    '''
    def __init__(self, iterable = []):
        super().__init__(item for item in iterable)

    def is_empty(self):
        return False if self else True

    def pop(self):
        if self.is_empty():
            print('Stack is empty')
            return None
        else:
            return super().pop()
    
    def push(self, item):
        super().append(item)

    def peek(self):
        if self.is_empty():
            print('Stack is empty')
            return None
        else:
            return self[len(self)-1]

class my_stack_2(object):
    '''
    has-a-relationship
    '''
    def __init__(self, item = []):
        self.container = list(item)

    def is_empty(self):
        return False if self.container else True

    def __str__(self):
        return self.container.__str__()
    
    def __repr__(self):
        return self.__str__()

    def pop(self):
        if self.is_empty():
            print('Stack is empty')
            return None
        else:
            return self.container.pop()
    
    def push(self, item):
        self.container.append(item)
    
    def peek(self):
        if self.is_empty():
            print('Stack is empty')
            return None
        else:
            return self.container[len(self.container)-1]

In [86]:
# Q5
def even_sq_gen(int_list):
    for i in int_list:
        if i % 2 == 0:
            yield i**2

q5_gen_obj = even_sq_gen([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print([i for i in q5_gen_obj])

[4, 16, 36, 64, 100]

In [129]:
# Q6
import turtle

def drawRuler(x, y, width, height):
    '''
    recursive draw to draw ruler
    stop when height is small enough
    '''
    # base case to stop recursion
    if height < 10:
        return

    turtle.setpos(x,y)
    turtle.forward(width)
    turtle.backward(width/2)
    turtle.left(90)
    turtle.forward(height)
    turtle.backward(height)
    turtle.right(90)
    drawRuler(x, y, width/2, height/2) #left rectangle
    drawRuler(x + width/2, y, width/2, height/2) #right rectangle

drawRuler(-200, 0, 400, 100)

In [128]:
turtle.reset()